.logoa { width: 100px; height: 100px;
display: flex;}

nav{ display: flex;
    align-items: center;
    text-align: center;
    margin: 0px;

}

header{ 
    background-color: white;
margin-top: -10px;
margin-left: -10px;
margin-right: -10px;}


.menua { display: flex;
list-style-type: none;
align-items: center;
margin-left: 400px;
overflow: hidden;
background: color #333333;
}

.menua ul li{
    float: left; 
    display: flex;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
    color:red ;}    






footer { 
background-color: black;
color: aliceblue;
margin-bottom: -10px;
margin-left: -10px;
margin-right: -10px;
display: flex;
justify-content: center;
align-items: center;
}


.fnav {text-align: center;
color: red; 
list-style-type: none;
display:flex;



}

.flista{list-style-type: none;}

.flisto{color: aliceblue;
list-style-type: none;
}



.flisto img{  width: 20px;
height:20px;  }