img { align-items: center;}
.logoa { width: 100px; height: 100px;
display: flex;}

nav{ display: flex;
    align-items: center;
    text-align: center;
    margin: 100;

}

h1{color: red;
}

.menu { display: flex;
list-style-type: none;
align-items: center;
margin-left: 400px;
overflow: hidden;
background: color #333333;
}

ul li {  float:left; 

    display: flex;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
    color: black;
}